@font-face {
  font-family: "OpenSansRegular";
  src: url("/assets/fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("/assets/fonts/OpenSans-Light.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("/assets/fonts/OpenSans-Bold.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("/assets/fonts/OpenSans-SemiBold.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("/assets/fonts/OpenSans-ExtraBold.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FrancoisOne";
  src: url("/assets/fonts/FrancoisOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

.logo img{
 
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu-items {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 40%;
  margin: 0 auto;
}
.menu-items div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}
.menu-text{
  width: 100%;
  display: flex;
  justify-content: center;
}